In [ ]:
# Convertir todo a mayúsculas y eliminar espacios al principio y al final
data_sucia['Motivo de la RENUNCIA'] = data_sucia['Motivo de la RENUNCIA'].str.upper().str.strip()

# Unificar categorías que son esencialmente las mismas
reemplazos_motivos = {
    'IMP.TRA-LFT Y/O REGLAMENTO INT.': 'IMP.TRA-LFT Y/O REGLAMENTO INTERNO',
    'IMP.TRA-LFT Y/O REGLAMENTO INT': 'IMP.TRA-LFT Y/O REGLAMENTO INTERNO',
    'IMP.PAT-TERMINACIÓN DEL CONTRATO': 'IMP.PAT-TERMINACIÓN DEL CONTRATO',
    'IMP.PAT-TERMINACIÓN DEL CONTRA': 'IMP.PAT-TERMINACIÓN DEL CONTRATO',
    'IMP.TRA-FALSIFICACIÓN DE DOCTOS.': 'IMP.TRA-FALSIFICACIÓN DE DOCUMENTOS',
    'IMP.TRA-FALSIFICACIÓN DE DOCTO': 'IMP.TRA-FALSIFICACIÓN DE DOCUMENTOS'
    # Agrega aquí cualquier otro reemplazo necesario
}

# Utilizar .loc para asegurar que estamos modificando el DataFrame original
data_sucia.loc[:, 'Motivo de la RENUNCIA'] = data_sucia['Motivo de la RENUNCIA'].replace(reemplazos_motivos)

# Contar de nuevo los valores
data_sucia['Motivo de la RENUNCIA'].value_counts()

In [ ]:
data_sucia["CODIGO POSTAL"].info()

In [ ]:
data_sucia["CODIGO POSTAL"].unique()

In [ ]:
data_sucia[data_sucia["CODIGO POSTAL"] == 3720] # Corresponde

In [ ]:
data_sucia[data_sucia["CODIGO POSTAL"] == 3259] # Corresponde

In [ ]:
data_sucia.info()

In [ ]:
total_time = time.time() - start_time
print(f"Tiempo total de ejecución: {total_time} segundos")
data_sucia

In [ ]:
import time
start_time = time.time()

In [ ]:
import numpy as np

import matplotlib.pyplot as plt
import sklearn
%load_ext cudf.pandas
# pandas API is now GPU accelerated

import pandas as pd

In [ ]:
#Cargamos los datos
! pip install openpyxl
data = pd.read_excel('data/bosch_aic_datathon.xlsx')

In [ ]:
# Exploramos los tipos de datos
type(data)

In [ ]:
#hacemos una copia de los datos
data_sucia=data

In [ ]:
#Previsualizamos los datos
data_sucia.head()

In [ ]:
data_sucia.shape

In [ ]:
data_sucia.info()
#Podemos ver que la mayoría de los datos son objetos 
#hay unos que son enteros, por lo que unos si será necesario cambiarlos 
#La columna de alta y baja son fechas de tiempo ese si corresponde

In [ ]:
"""# Crear un diccionario que mapee los nombres de las columnas a 'category'
columnas_a_categorizar = [
    'Posición', 'Estado Civil', 'Lugar de nacimiento', 
    'Clave de sexo', 'Motivo de la RENUNCIA', 'Banda', 
    'CODIGO POSTAL', 'Grupo de personal'
]

tipo_columnas = {columna: 'category' for columna in columnas_a_categorizar}

# Aplicar 'categorical' a las columnas especificadas en data_sucia
data_sucia = data_sucia.astype(tipo_columnas)

# Ver actualizado
data_sucia.info()"""

In [ ]:
data_sucia.describe()

In [ ]:
data_sucia.columns

In [ ]:
columns = [
    'Posición', 'Area', 'Á.liq.', 'Grupo de personal', 'CODIGO POSTAL',
    'Motivo de la RENUNCIA', 'Banda', 'Baja', 'ReglaPHT', 'Alta',
    'Años', 'Meses', 'Antigüedad', 'Clave de sexo', 'Lugar de nacimiento',
    'Nacionalidad', 'Edad del empleado', '¿Cuanto tiempo tiene viviendo en Cd. Juarez?',
    'Estado Civil', 'Hijos'
]

for column in columns:
    print(column, data_sucia[column].isna().sum())

# Dejando de lado la columna de vivir en juarez, tenemos un total de 13 NA's
# Podemos eliminar las filas de la columna de BANDA y la de LUGAR DE NACIMIENTO
# La columna de ESTADO CIVIL la podemos cambiar a soltero
# En cambio, la columna de juarez podemos cambiar todos esos NA's por "no he vivido en CD.JUAREZ"

# One-hot para Clave de sexo

In [ ]:
# Usamos One-hot Encoding para la columna de estado civil

# Agrupación para la columna de cuanto tiempo viviendo en Cd. Juarez

In [ ]:
# Esta tecnica tambien se puede usar para la columna de cuantos años has vivido en juarez, pero primero
# hay que cambiar los NA's por 0, porque si es NA's es porque no ha vivido en Juarez
# Primero cambiamos los NA's por 0
data_sucia['¿Cuanto tiempo tiene viviendo en Cd. Juarez?'].fillna('Never', inplace=True)

# Para poder limpiar lo de los años voy a agruparlos en una cantidad fija, ya que hay valores como 2 y esa clase de valores
# puede ir contenidos en 1-3, esto se ve en la celda anterior
# Definir la función para categorizar los años
def categorize_years(value):
    if value in ['91-180 Days', '61-90 Days']:
        return '1 - Years'
    elif value in ['1-2 Years', '2-3 Years', '1-2 Years ']:
        return '1 - 3 Years'
    elif value in ['3-4 Years', '4-5 Years', '4', '5']:
        return '3 - 5 Years'
    elif value in ['5-6 Years', '6-7 Years', '6 Years', '7']:
        return '5 - 7 Years'
    elif value in ['7-8 Years', '8-9 Years', '9-10 Years', '10 years', '10+ Years', '10']:
        return '7 - 10 Years'
    elif value in ['26 years', '25 years', '21', '19', '16', '25']:
        return '10 + Years'
    else: 
        return value

# Aplicar la función de categorización
data_sucia['¿Cuanto tiempo tiene viviendo en Cd. Juarez?'] = data_sucia['¿Cuanto tiempo tiene viviendo en Cd. Juarez?'].apply(categorize_years)
data_sucia['¿Cuanto tiempo tiene viviendo en Cd. Juarez?'] = data_sucia['¿Cuanto tiempo tiene viviendo en Cd. Juarez?'].apply(categorize_years)

# Hacer plot de la columna de años
data_sucia['¿Cuanto tiempo tiene viviendo en Cd. Juarez?'].value_counts().plot(kind='pie')

# Quitams los '-' y '/' de Motivo de la RENUNCIA

In [ ]:
# Reemplazar 'y/o' por 'o'
df['Columna'] = df['Columna'].replace(to_replace='y/o', value='o', regex=True)
# reemplazar '-' y '/' por ' '
data_sucia['Motivo de la RENUNCIA'].replace(to_replace='[-/]', value=' ', regex=True)

# Limpieza de Columna de Estado Civil

In [ ]:
#Ahora tenemos que cambiar el los NA's de estado civil por soltero, esto no se si sea lo correcto, pero
#a lo mejor le da pena decir que es soltero no se 
data_sucia['Estado Civil'].fillna('solter', inplace=True)
data_sucia['Estado Civil'].unique()


def categorize_civil(value):
    if value in ['solter','Solter','viud.']:
        return 'SOLTERO'
    elif value in ['casad.','Casad.','Concu.','U.Libr']:
        return 'CASADO'
    elif value in ['Divorc','Sep.','divorc']:
        return 'SEPARADO'
    elif value in ['Concu.','U.Libr']:
        return 'UNION LIBRE'
    else:
        return value

data_sucia['Estado Civil'] = data_sucia['Estado Civil'].apply(categorize_civil)

# Limpieza de la columna de Lugar de Nacimiento

In [ ]:
# Limpia los datos de la columna Lugar de nacimiento a el nombre del estado de nacimiento. 
# Limpia los datos de la columna Lugar de nacimiento a el nombre del estado de nacimiento. 
# Diccionario de reemplazos
reemplazos = {
    'Chihuahua': ['AZTECA CIUDAD JUAREZ', 'CAMARGO', 'CD JUAREZ', 'CD JUAREZ CHIH', 'CD. JUAREZ'],
    'Durango': ['CD. GOMEZ PALACIO', 'GENERAL SIMON BOLIVAR', 'GOMEZ PALACIO', 'LERDO', 'DURANGO', 'PEÑON BLANCO', 'POBLADO EL LUCERO', 'SAN DIMAS', 'TLAHUALILO DE ZARAGOZA'],
    'Aguascalientes': ['AGUASCALIENTES'],
    'Sinaloa': ['AHOME', 'CULIACAN'],
    'Veracruz': ['ANGEL R CABADA', 'COATZACOALCOS', 'CORDOBA', 'CORDOVA', 'COSAMALOAPAN', 'LAS MERCEDES', 'MARTINEZ DE LA TORRE', 'MINATITLAN', 'MOLOACAN', 'RAYA CARACOL', 'SAN ANDRES TUXTLA', 'TRES VALLES', 'VERACRUZ'],
    # Agrega el resto de tus reemplazos aquí
}

# Invertir el diccionario para mapear cada ciudad a su estado correspondiente
reemplazos_invertidos = {ciudad: estado for estado, ciudades in reemplazos.items() for ciudad in ciudades}

# Realizar los reemplazos
data_sucia['Lugar de nacimiento'] = data_sucia['Lugar de nacimiento'].replace(reemplazos_invertidos)

# Ver resultados de los reemplazos usando aleatoriedad
data_sucia['Lugar de nacimiento'].sample(10)

In [ ]:
# Diccionario para la nueva celda de reemplazos
reemplazos_nueva_celda = {
    'PUEBLA': ['GUADALUPE ANALCO', 'PUEBLA'],
    'OAXACA': ['IXHUATAN', 'OAXACA', 'PASO DEL JOBO', 'SAN FRANCISCO DEL MAR', 'SAN JUAN BAUTISTA TUXTEPE', 'SAN LUCAS OJITLAN', 'TUXTEPEC'],
    'TAMAULIPAS': ['MATAMOROS']
}

# Invertir el diccionario para mapear cada ciudad a su estado correspondiente
reemplazos_invertidos_nueva_celda = {ciudad: estado for estado, ciudades in reemplazos_nueva_celda.items() for ciudad in ciudades}

# Realizar los reemplazos
data_sucia['Lugar de nacimiento'] = data_sucia['Lugar de nacimiento'].replace(reemplazos_invertidos_nueva_celda)

# Ahora que ya tenemos la limpieza lista podemos eliminar todos los valores donde hay NA

In [ ]:
data_sucia = data_sucia.dropna()

# Comparaciones del tamaño de los dataset

In [ ]:
# Ver las columnas
data_sucia.sample(10)

In [ ]:
# Este comando cambiar el tipo de columnas, no se exactamente cuales y a que tipo por lo que dejo así el borrador
#data_limpia["nombre_columna"] = data_sucia["nombre_columna"].astype(int)

## Gráfica cantidad de Hijos

In [ ]:
#Graficas de la cantidad de hijos
num_hijos = data_sucia['Hijos'].value_counts()
num_hijos = num_hijos.sort_index()
plt.bar(num_hijos.index,num_hijos.values)
plt.xlabel("Número de hijos")
plt.ylabel("Cantidad")
plt.title("Distribución de la cantidad de hijos")
plt.xticks(num_hijos.index)
plt.show()

## Gráfica Estado Civil

In [ ]:
#Graficas del estado civil del trabajador
num_est_civil = data_sucia['Estado Civil'].value_counts()
num_est_civil = num_est_civil.sort_index()
plt.bar(num_est_civil.index,num_est_civil.values)
plt.xlabel("Estado civil")
plt.ylabel("Cantidad")
plt.title("Distribución del estado civil del trabajador")
plt.show()

# Gráfica Motivo de RENUNCIA

In [ ]:
data_sucia['Motivo de la RENUNCIA'].value_counts()

# Renuncia (Guillermo)

Target = VOL = RENUNCIA
- Otro empleo
- Estudios
- NO regreso
- ...
- ...

## Comentario: 

Para el punto 4 del desafío, proponogo plotear una gráfica (podrían ser dos) que relacione el código póstal (podría ser ubicación actual) con el motivo de RENUNCIA Vol-Insatisfacción personal

----
** Area de Victor para creacion de base de datos **

In [ ]:
# Importar libreria para trabajar con mysql
#! pip install mysql-connector-python
import mysql.connector



# Hacer un mapeo de los datos necesarios para conectarse
config = {
    'user': 'datathonequipo5',
    'password': 'CodedSpiritDev05',
    'host': 'datathon.mysql.database.azure.com',
    'database': 'datathon'
}

# Conectarse a la base de datos
cnx = mysql.connector.connect(**config)

# Verificar la conexión
cnx.is_connected()

----
**Carga de librerías**

In [ ]:
# Convertir todo a mayúsculas y eliminar espacios al principio y al final
data_sucia['Motivo de la RENUNCIA'] = data_sucia['Motivo de la RENUNCIA'].str.upper().str.strip()

# Unificar categorías que son esencialmente las mismas
reemplazos_motivos = {
    'IMP.TRA-LFT Y/O REGLAMENTO INT.': 'IMP.TRA-LFT Y/O REGLAMENTO INTERNO',
    'IMP.TRA-LFT Y/O REGLAMENTO INT': 'IMP.TRA-LFT Y/O REGLAMENTO INTERNO',
    'IMP.PAT-TERMINACIÓN DEL CONTRATO': 'IMP.PAT-TERMINACIÓN DEL CONTRATO',
    'IMP.PAT-TERMINACIÓN DEL CONTRA': 'IMP.PAT-TERMINACIÓN DEL CONTRATO',
    'IMP.TRA-FALSIFICACIÓN DE DOCTOS.': 'IMP.TRA-FALSIFICACIÓN DE DOCUMENTOS',
    'IMP.TRA-FALSIFICACIÓN DE DOCTO': 'IMP.TRA-FALSIFICACIÓN DE DOCUMENTOS'
    # Agrega aquí cualquier otro reemplazo necesario
}

# Utilizar .loc para asegurar que estamos modificando el DataFrame original
data_sucia.loc[:, 'Motivo de la RENUNCIA'] = data_sucia['Motivo de la RENUNCIA'].replace(reemplazos_motivos)

# Contar de nuevo los valores
data_sucia['Motivo de la RENUNCIA'].value_counts()

In [ ]:
data_sucia["CODIGO POSTAL"].unique()

In [ ]:
data_sucia[data_sucia["CODIGO POSTAL"] == 3259] # Corresponde

In [ ]:
total_time = time.time() - start_time
print(f"Tiempo total de ejecución: {total_time} segundos")
data_sucia

In [ ]:
import numpy as np

import matplotlib.pyplot as plt
import sklearn
%load_ext cudf.pandas
# pandas API is now GPU accelerated

import pandas as pd

In [ ]:
# Exploramos los tipos de datos
type(data)

In [ ]:
#Previsualizamos los datos
data_sucia.head()

In [ ]:
data_sucia.info()
#Podemos ver que la mayoría de los datos son objetos 
#hay unos que son enteros, por lo que unos si será necesario cambiarlos 
#La columna de alta y baja son fechas de tiempo ese si corresponde

In [ ]:
data_sucia.describe()

In [ ]:
columns = [
    'Posición', 'Area', 'Á.liq.', 'Grupo de personal', 'CODIGO POSTAL',
    'Motivo de la RENUNCIA', 'Banda', 'Baja', 'ReglaPHT', 'Alta',
    'Años', 'Meses', 'Antigüedad', 'Clave de sexo', 'Lugar de nacimiento',
    'Nacionalidad', 'Edad del empleado', '¿Cuanto tiempo tiene viviendo en Cd. Juarez?',
    'Estado Civil', 'Hijos'
]

for column in columns:
    print(column, data_sucia[column].isna().sum())

# Dejando de lado la columna de vivir en juarez, tenemos un total de 13 NA's
# Podemos eliminar las filas de la columna de BANDA y la de LUGAR DE NACIMIENTO
# La columna de ESTADO CIVIL la podemos cambiar a soltero
# En cambio, la columna de juarez podemos cambiar todos esos NA's por "no he vivido en CD.JUAREZ"

In [ ]:
# Usamos One-hot Encoding para la columna de estado civil

In [ ]:
# Esta tecnica tambien se puede usar para la columna de cuantos años has vivido en juarez, pero primero
# hay que cambiar los NA's por 0, porque si es NA's es porque no ha vivido en Juarez
# Primero cambiamos los NA's por 0
data_sucia['¿Cuanto tiempo tiene viviendo en Cd. Juarez?'].fillna('Never', inplace=True)

# Para poder limpiar lo de los años voy a agruparlos en una cantidad fija, ya que hay valores como 2 y esa clase de valores
# puede ir contenidos en 1-3, esto se ve en la celda anterior
# Definir la función para categorizar los años
def categorize_years(value):
    if value in ['91-180 Days', '61-90 Days']:
        return '1 - Years'
    elif value in ['1-2 Years', '2-3 Years', '1-2 Years ']:
        return '1 - 3 Years'
    elif value in ['3-4 Years', '4-5 Years', '4', '5']:
        return '3 - 5 Years'
    elif value in ['5-6 Years', '6-7 Years', '6 Years', '7']:
        return '5 - 7 Years'
    elif value in ['7-8 Years', '8-9 Years', '9-10 Years', '10 years', '10+ Years', '10']:
        return '7 - 10 Years'
    elif value in ['26 years', '25 years', '21', '19', '16', '25']:
        return '10 + Years'
    else: 
        return value

# Aplicar la función de categorización
data_sucia['¿Cuanto tiempo tiene viviendo en Cd. Juarez?'] = data_sucia['¿Cuanto tiempo tiene viviendo en Cd. Juarez?'].apply(categorize_years)
data_sucia['¿Cuanto tiempo tiene viviendo en Cd. Juarez?'] = data_sucia['¿Cuanto tiempo tiene viviendo en Cd. Juarez?'].apply(categorize_years)

# Hacer plot de la columna de años
data_sucia['¿Cuanto tiempo tiene viviendo en Cd. Juarez?'].value_counts().plot(kind='pie')

In [ ]:
# Reemplazar 'y/o' por 'o'
df['Columna'] = df['Columna'].replace(to_replace='y/o', value='o', regex=True)
# reemplazar '-' y '/' por ' '
data_sucia['Motivo de la RENUNCIA'].replace(to_replace='[-/]', value=' ', regex=True)

In [ ]:
#Ahora tenemos que cambiar el los NA's de estado civil por soltero, esto no se si sea lo correcto, pero
#a lo mejor le da pena decir que es soltero no se 
data_sucia['Estado Civil'].fillna('solter', inplace=True)
data_sucia['Estado Civil'].unique()


def categorize_civil(value):
    if value in ['solter','Solter','viud.']:
        return 'SOLTERO'
    elif value in ['casad.','Casad.','Concu.','U.Libr']:
        return 'CASADO'
    elif value in ['Divorc','Sep.','divorc']:
        return 'SEPARADO'
    elif value in ['Concu.','U.Libr']:
        return 'UNION LIBRE'
    else:
        return value

data_sucia['Estado Civil'] = data_sucia['Estado Civil'].apply(categorize_civil)

In [ ]:
# Limpia los datos de la columna Lugar de nacimiento a el nombre del estado de nacimiento. 
# Limpia los datos de la columna Lugar de nacimiento a el nombre del estado de nacimiento. 
# Diccionario de reemplazos
reemplazos = {
    'Chihuahua': ['AZTECA CIUDAD JUAREZ', 'CAMARGO', 'CD JUAREZ', 'CD JUAREZ CHIH', 'CD. JUAREZ'],
    'Durango': ['CD. GOMEZ PALACIO', 'GENERAL SIMON BOLIVAR', 'GOMEZ PALACIO', 'LERDO', 'DURANGO', 'PEÑON BLANCO', 'POBLADO EL LUCERO', 'SAN DIMAS', 'TLAHUALILO DE ZARAGOZA'],
    'Aguascalientes': ['AGUASCALIENTES'],
    'Sinaloa': ['AHOME', 'CULIACAN'],
    'Veracruz': ['ANGEL R CABADA', 'COATZACOALCOS', 'CORDOBA', 'CORDOVA', 'COSAMALOAPAN', 'LAS MERCEDES', 'MARTINEZ DE LA TORRE', 'MINATITLAN', 'MOLOACAN', 'RAYA CARACOL', 'SAN ANDRES TUXTLA', 'TRES VALLES', 'VERACRUZ'],
    # Agrega el resto de tus reemplazos aquí
}

# Invertir el diccionario para mapear cada ciudad a su estado correspondiente
reemplazos_invertidos = {ciudad: estado for estado, ciudades in reemplazos.items() for ciudad in ciudades}

# Realizar los reemplazos
data_sucia['Lugar de nacimiento'] = data_sucia['Lugar de nacimiento'].replace(reemplazos_invertidos)

# Ver resultados de los reemplazos usando aleatoriedad
data_sucia['Lugar de nacimiento'].sample(10)

# Ahora que ya tenemos la limpieza lista podemos eliminar todos los valores donde hay NA

# Comparaciones del tamaño de los dataset

In [ ]:
# Este comando cambiar el tipo de columnas, no se exactamente cuales y a que tipo por lo que dejo así el borrador
#data_limpia["nombre_columna"] = data_sucia["nombre_columna"].astype(int)

In [ ]:
#Graficas de la cantidad de hijos
num_hijos = data_sucia['Hijos'].value_counts()
num_hijos = num_hijos.sort_index()
plt.bar(num_hijos.index,num_hijos.values)
plt.xlabel("Número de hijos")
plt.ylabel("Cantidad")
plt.title("Distribución de la cantidad de hijos")
plt.xticks(num_hijos.index)
plt.show()

In [ ]:
#Graficas del estado civil del trabajador
num_est_civil = data_sucia['Estado Civil'].value_counts()
num_est_civil = num_est_civil.sort_index()
plt.bar(num_est_civil.index,num_est_civil.values)
plt.xlabel("Estado civil")
plt.ylabel("Cantidad")
plt.title("Distribución del estado civil del trabajador")
plt.show()

In [ ]:
data_sucia['Motivo de la RENUNCIA'].value_counts()

Target = VOL = RENUNCIA
- Otro empleo
- Estudios
- NO regreso
- ...
- ...

----
** Area de Victor para creacion de base de datos **